* {
    box-sizing: border-box;
    font-family: sans-serif;
    color: #3C3C3C;
    line-height: 1.4rem;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    background-color: #69b1ff;
    padding: 2rem;
}

.content {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 2rem;

    row-gap: 1rem;
}

.top-bar {
    flex-basis: 4rem;
    flex-grow: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    column-gap: 4rem;
}

.map {
    width: 100%;
    flex-grow: 1;
    background-color: white;
    min-height: 8rem;

    position: relative;
    border-radius: 2px;
    border-width: 2px;
    border-color: #fff;
    border-style: solid;
    background-color: #69b1ff;
}

/* Train-Node */
.train-node {
    width: 40px;
    height: 40px;
    border-radius: 6px 100% 50% 6px;
    background-color: #eeeeee;

    position: absolute;
}

.window-list {
    position: absolute;
    left: 3px;
    display: flex;
    flex-direction: row;
    column-gap: 2px;
    bottom: 12px;
}

.window {
    width: 12px;
    height: 18px;
    border-width: 2px;
    border-style: solid;
    border-color: #4b5f70;
    border-radius: 4px;
    background-color: #9ebed1;
}

.line {
    width: 30px;
    height: 3px;
    background-color: #4b5f70;
    border-radius: 2px;

    position: absolute;
    bottom: 5px;
    left: 3px;
}

.train-left {
    transform: scale(-1, 1);
}

.train-up {
    transform: rotate(-90deg);
}

.train-down {
    transform: rotate(90deg);
}

.train-right {
    transform: scale(1, 1);
}